# Segmenting and Clustering Neighborhoods in Toronto

First let's import libraries

In [144]:
import pandas as pd
import numpy as np

The html-site is assigned and loaded via pandas read_html. Afterward we will assign the first table on the html site under dfs-pandas dataframe.
Finally we are going to look up our 5 first values of our dfs-dataframe.

In [170]:
url='http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0, flavor='bs4')
dfs=pd.DataFrame(df[0])
dfs.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Let's exclude "Not assigned" Borough:

In [171]:
dfs=dfs[dfs.Borough != 'Not assigned']
dfs.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Let's join the duplicated Postcodes and split them within Neighbourhood-column with a comma. We specify not to order the dataframe:

In [172]:
dfs = dfs.groupby(['Postcode','Borough'], sort = False).agg(lambda x: ','.join(x))
dfs.reset_index(level=['Postcode','Borough'], inplace=True)
dfs.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

Next we are going to replace the "Not assigned" Neighbourhoods with the Borough-label and illustrate the dataframe:

In [173]:
dfs.loc[dfs['Neighbourhood'] == ('Not assigned'), 'Neighbourhood'] = dfs['Borough']
dfs.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

# PART 1: The dataframe shape:

In [174]:
dfs.shape

(103, 3)

#Adding the location data

In [82]:
!wget -O Geospatial_coordinates.csv https://cocl.us/Geospatial_data

--2019-06-13 11:52:41--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 159.8.72.228
Connecting to cocl.us (cocl.us)|159.8.72.228|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-06-13 11:52:42--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 185.235.236.197
Connecting to ibm.box.com (ibm.box.com)|185.235.236.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-06-13 11:52:42--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2019-06-13 11:52:43--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!ARdlbQvaVJkl34j3IyEGonSfHzruI7ohGYrEb7zQk8YvAdXXf901G8ce1FOpWhehKzs5o-ddLDBv43SVewz6lSj6rCx5z-CYazRGMa2O2fauOs6pnjiE1MfcB5L0D181GeHepOqrqGE-fyMd9jM8Ec_rO-fCQuOVFenSyFAw5JHcV0SQLJL3xC8yII5Y-ldgl-t_0QrGg8EjgT_j_COyacAhNh21o_Lv8j5JK4ntF2QRdSbhu-KMbMzr89R2ifUopP3p3pgH4kLmRzt12EXRzeyVHe1ATw5cq43e38994oM4D-rLr5DOy0Xe9dfR2yozWQStDD3FYtk8-867sl-CgWnaZzLZyg1ryOJ7aaFcSiwi2HDrkiLsGORhKxcAfOYnmSj7wtWyc5q8Oh3IHaUlNWKoZyqFlqiWDn95Zt4xdX8oIoYpyZU4gwDBTf6FeZafKhKfVObhHcjQ8MRA1nEOicH0fbFNoR3NfXl0hI5Y8AMdOCUK7wfC7i2E0MTv6U8DZExm4kAKid79pVA3424favBGQl5uZ7iGxzwUmDFPj9_2uzCOdhBhnbucEVQ-W4Tj26lJSwDi4C7CD6Z2yndtBd4CLJTnqAP1tbJLo3qBciQPqHYhxFQNtGz1V6fFgFUc79hlPBdM-mqYdKqpS7Fc4BY9h1WQ2xLXzvevSsNZaox589yvuv6lM_4B-VOdwZPX40_8VgJIGrWzvFd6qis6N1nqJuGjueKEv-LXa8ePR3zudWs9hBar0TvvoLG2RaURBIhim0dx4gX2n6_jLEwq_YUBDRcTLjiu-an2pxpskoAaHiSTlyo30N3Xz64iIsklPy0WUiVxkXA1ouxEKhOqm-7cITI_U30A6osQF3UrTXVm0LChPbPmZXN-7QKAEHDD7NJ7Mx3WrmbwipwXDwvdKVujmG1EN6Zso7GqU0pPcZ76Vf4YSQHre0-VtV_gLPPPnY5Vz78UgfVNDItuHASMHg4ccd95AbL_8HkPt0UpmhnPKHEMA33oeo0jHJyCch3xjIJ9uNVmVim4yDEwo8lP60CvADyH_RvwTY6wNN78VMLyHG7xZKOvmVzSnh2IwgbJXbg8le-5ELSnPsmyc2hgjKKojWrcoO3lNuijebrc4SY47fezeaoiWtHtaiRqL_rF2CfWACTLs019zcioT0pDrtarj5fd4ip9sZP6pch1hRLMW9qsnllbk3_uJ2L5f1tMBZhcUiTQDPpotJaJkcGKhcszkR6GSx59x_EztQkxVJAO28dZXnnI8egB3-cZ-3qjswmuSPIzI_bgbCEIBYLmM2eVwNtggHxx3HcXvY-XSHRWeG_Xua3Imf35VIBohkVnHRmCoaz4f7AWPbX2B7VuWZxAx-Dl3DAPBdfQ6jStMb3MOkk9UBmIYARWQWGjvg../download [following]
--2019-06-13 11:52:44--  https://public.boxcloud.com/d/1/b1!ARdlbQvaVJkl34j3IyEGonSfHzruI7ohGYrEb7zQk8YvAdXXf901G8ce1FOpWhehKzs5o-ddLDBv43SVewz6lSj6rCx5z-CYazRGMa2O2fauOs6pnjiE1MfcB5L0D181GeHepOqrqGE-fyMd9jM8Ec_rO-fCQuOVFenSyFAw5JHcV0SQLJL3xC8yII5Y-ldgl-t_0QrGg8EjgT_j_COyacAhNh21o_Lv8j5JK4ntF2QRdSbhu-KMbMzr89R2ifUopP3p3pgH4kLmRzt12EXRzeyVHe1ATw5cq43e38994oM4D-rLr5DOy0Xe9dfR2yozWQStDD3FYtk8-867sl-CgWnaZzLZyg1ryOJ7aaFcSiwi2HDrkiLsGORhKxcAfOYnmSj7wtWyc5q8Oh3IHaUlNWKoZyqFlqiWDn95Zt4xdX8oIoYpyZU4gwDBTf6FeZafKhKfVObhHcjQ8MRA1nEOicH0fbFNoR3NfXl0hI5Y8AMdOCUK7wfC7i2E0MTv6U8DZExm4kAKid79pVA3424favBGQl5uZ7iGxzwUmDFPj9_2uzCOdhBhnbucEVQ-W4Tj26lJSwDi4C7CD6Z2yndtBd4CLJTnqAP1tbJLo3qBciQPqHYhxFQNtGz1V6fFgFUc79hlPBdM-mqYdKqpS7Fc4BY9h1WQ2xLXzvevSsNZaox589yvuv6lM_4B-VOdwZPX40_8VgJIGrWzvFd6qis6N1nqJuGjueKEv-LXa8ePR3zudWs9hBar0TvvoLG2RaURBIhim0dx4gX2n6_jLEwq_YUBDRcTLjiu-an2pxpskoAaHiSTlyo30N3Xz64iIsklPy0WUiVxkXA1ouxEKhOqm-7cITI_U30A6osQF3UrTXVm0LChPbPmZXN-7QKAEHDD7NJ7Mx3WrmbwipwXDwvdKVujmG1EN6Zso7GqU0pPcZ76Vf4YSQHre0-VtV_gLPPPnY5Vz78UgfVNDItuHASMHg4ccd95AbL_8HkPt0UpmhnPKHEMA33oeo0jHJyCch3xjIJ9uNVmVim4yDEwo8lP60CvADyH_RvwTY6wNN78VMLyHG7xZKOvmVzSnh2IwgbJXbg8le-5ELSnPsmyc2hgjKKojWrcoO3lNuijebrc4SY47fezeaoiWtHtaiRqL_rF2CfWACTLs019zcioT0pDrtarj5fd4ip9sZP6pch1hRLMW9qsnllbk3_uJ2L5f1tMBZhcUiTQDPpotJaJkcGKhcszkR6GSx59x_EztQkxVJAO28dZXnnI8egB3-cZ-3qjswmuSPIzI_bgbCEIBYLmM2eVwNtggHxx3HcXvY-XSHRWeG_Xua3Imf35VIBohkVnHRmCoaz4f7AWPbX2B7VuWZxAx-Dl3DAPBdfQ6jStMb3MOkk9UBmIYARWQWGjvg../download
Resolving public.boxcloud.com (public.boxcloud.com)... 185.235.236.200
Connecting to public.boxcloud.com (public.boxcloud.com)|185.235.236.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_coordinates.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2019-06-13 11:52:44 (409 MB/s) - ‘Geospatial_coordinates.csv’ saved [2891/2891]

In [175]:
coordinates = pd.read_csv('Geospatial_coordinates.csv')

In [176]:
geodf = pd.DataFrame(coordinates)
geodf.head()
#geodf.shape

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Part 2: table with coordinates included:

In [179]:
dfs['Latitude']=geodf['Latitude'].values
dfs['Longitude']=geodf['Longitude'].values
dfs.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.806686,-79.194353
1,M4A,North York,Victoria Village,43.784535,-79.160497
2,M5A,Downtown Toronto,"Harbourfront,Regent Park",43.763573,-79.188711
3,M6A,North York,"Lawrence Heights,Lawrence Manor",43.770992,-79.216917
4,M7A,Queen's Park,Queen's Park,43.773136,-79.239476
5,M9A,Etobicoke,Islington Avenue,43.744734,-79.239476
6,M1B,Scarborough,"Rouge,Malvern",43.727929,-79.262029
7,M3B,North York,Don Mills North,43.711112,-79.284577
8,M4B,East York,"Woodbine Gardens,Parkview Hill",43.716316,-79.239476
9,M5B,Downtown Toronto,"Ryerson,Garden District",43.692657,-79.264848